*~
*.pyc
*.sw*
vim/.vim/.netrwhist
vim/.vim/autoload
vim/.vim/backups
vim/.vim/plugged
vim/.vim/spell
vim/.vim/swap
vim/.vim/tmp
vim/.vim/undo
drush/.drush/*.drushrc.php
drush/.drush/*.inc
drush/.drush/*.pem
Session.vim
