alias dropbox-restart='dropbox stop && DBUS_SESSION_BUS_ADDRESS="" dropbox start'
alias less='less -R'
alias gti='git'
alias grep='grep --colour=auto'
alias ncdu='ncdu --color dark -rr -x'
alias pacman='pacman --color=always'
# alias yay='yay --color=always'
alias pdown='cd && fusermount -u ~/.visible && history -c && history -w >/dev/null; clear'
alias pup='cd && clear && encfs ~/.crypt ~/.visible'
alias vi='vim'
alias tree='tree -C -I $(git check-ignore * 2>/dev/null | tr "\n" "|").git'
alias co='git co'

if command -v bat >/dev/null; then
  alias cat='bat'
fi

case $OSTYPE in 
  linux-gnu)
    alias ls='ls --color --group-directories-first -FhN'
    alias pbcopy='xclip -selection clipboard'
    ;;
  darwin*)
    alias ls='ls -FhG'
    alias unlock-keychain='security -v unlock-keychain ~/Library/Keychains/login.keychain-db'
  ;;
esac

git() {
  if [ "$1" = "cd" ]; then
    shift
    cd "./$(git rev-parse --show-cdup)$*"
  else
    command git "$@"
  fi
}

tf() {
  if type -p tf >/dev/null; then
    command tf "$@"
  else
    printf "\033]0; Talkers \007"
    ssh scramble -t "tmux attach -d"
  fi
}

if command -v delta >/dev/null; then
  alias diff=delta
fi

if command -v bat >/dev/null; then
  alias cat=bat
fi

st() {
	case "$1" in
		start)
			syncthing -no-browser -home="$HOME/.config/syncthing" 2>&1 >/dev/null &
			;;
		stop)
			killall syncthing
			;;
		ps)
			ps ax | grep syncthing | grep -v grep
			;;
		*)
			;;
esac
}
